:root {
  --color-primery: #212121;
  --color-secondary: #757575;
  --color-accent: #2196f3;
  --color-white-bgc: #ffffff;
  --color-around-black-bgc: #2f303a;
  --color-around-white-bgc: #f5f5f5;
  --color-gray-bgc: #f5f4fa;
  --color-additional: #ffffff;
  --color-additional-second: rgba(255, 255, 255, 0.6);
  --color-button-accent: #188ce8;
  --color-icons: #afb1b8;
  --color-bgc-footer-icons: rgba(255, 255, 255, 0.1);
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--color-white-bgc);
  color: var(--color-primery);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.features,
.works,
.staff,
.clients,
.main {
  padding: 94px 0;
}
@media (max-width: 1199px) {
  .features,
.works,
.staff,
.clients,
.main {
    padding: 60px 0;
  }
}

img {
  width: 100%;
  display: block;
}

.header__nav,
.header__contact,
.features__list,
.works__list,
.staff__list,
.clients__list,
.address__list,
.footer__social-list,
.main__list,
.portfolio {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.button {
  color: var(--color-additional);
  background-color: var(--color-accent);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: var(--color-button-accent);
}

.main__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.main__button {
  color: var(--color-primery);
  background-color: var(--color-gray-bgc);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main__button:hover, .main__button:focus {
  color: var(--color-white-bgc);
  background-color: var(--color-accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.features {
  padding-bottom: 0;
}
.features__list {
  gap: 30px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .features__list {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}
.features__card {
  flex-basis: calc((100% - 30px) / 2);
}
.features__icons {
  width: 270px;
  height: 120px;
  background-color: var(--color-gray-bgc);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
@media (max-width: 479px) {
  .features__icons {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .features__icons {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .features__icons {
    width: 100%;
  }
}
.features__caption {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  width: 270px;
  border-radius: 4px;
  margin-bottom: 10px;
}
@media (max-width: 479px) {
  .features__caption {
    margin-left: auto;
  }
}
@media (max-width: 480px) {
  .features__caption {
    margin-left: auto;
  }
}
.features__p {
  color: var(--color-secondary);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}
@media (max-width: 479px) {
  .features__p {
    margin-bottom: 30px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .features__p {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .features__p {
    margin-bottom: 60px;
  }
}

.portfolio {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  flex-basis: calc((100% - 60px) / 3);
}
.card__container {
  position: relative;
  overflow: hidden;
}
.card__text {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}
.card__title {
  color: var(--color-primery);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.card__sub {
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}
.card:hover, .card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__text-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 294px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
  color: var(--color-additional);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
}

.card:hover .card__text-overlay,
.card:focus .card__text-overlay {
  transform: translateY(0);
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
@media (max-width: 1199px) {
  .clients__title {
    font-size: 28px;
    line-height: 1.18;
  }
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}
.clients__items {
  width: 170px;
  height: 92px;
  flex-basis: calc((100% - 150px) / 6);
  align-items: center;
  justify-content: center;
}
@media (max-width: 479px) {
  .clients__items {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .clients__items {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .clients__items {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-additional);
  fill: var(--color-icons);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--color-accent);
  border-color: var(--color-accent);
}

.logo {
  color: var(--color-accent);
  text-decoration: none;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo--accent {
  color: var(--color-primery);
}

.logo--footer {
  color: var(--color-additional);
  padding: 60px 0;
}

.footer__logo {
  margin-bottom: 60px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer__logo {
    margin-right: 165px;
    margin-top: 60px;
  }
}

.modal-menu {
  position: fixed;
  top: 0;
  left: 0;
  max-height: 100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 48px 40px;
  margin-bottom: auto;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.modal-menu__nav {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  margin-bottom: auto;
}
.modal-menu__nav--current {
  color: var(--color-accent);
}
.modal-menu__link {
  margin-bottom: 30px;
}
.modal-menu__list {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  color: #212121;
}
.modal-menu__contact {
  margin-bottom: 64px;
}
.modal-menu__contact-link {
  color: #757575;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
}
.modal-menu__contact-link--accent {
  color: var(--color-accent);
  font-size: 34px;
  line-height: 1.18;
}
.modal-menu__socials {
  display: flex;
  flex-wrap: wrap;
}
.modal-menu__social-link {
  font-size: 18px;
  line-height: 1.22;
  color: var(--color-accent);
}
.modal-menu__button {
  width: 30px;
  height: 30px;
  color: #000000;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.modal-menu.is-open {
  transform: translateX(0);
}

.modal-menu__social-list:not(:last-child) .modal-menu__social-link {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.21);
}

.modal-menu__social-list:not(:first-child) .modal-menu__social-link {
  padding-left: 10px;
}

.container__mobile {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero {
  background-color: var(--color-around-black-bgc);
  padding: 118px 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/people_mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 768px) and (min-resolution: 192dpi), screen and (max-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/people_mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/people_tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/people_tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/people.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/people@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding: 200px 0;
  }
}
@media (max-width: 479px) {
  .hero {
    height: 400px;
    width: 100%;
  }
}
.hero__title {
  color: var(--color-additional);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}

.hero__button {
  display: flex;
  justify-content: center;
}

.staff {
  background-color: var(--color-gray-bgc);
}
.staff__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .staff__title {
    font-size: 28px;
    line-height: 1.18px;
  }
}
.staff__list {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .staff__list {
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
}
.staff__cards {
  flex-basis: calc((100% - 90px) / 4);
}
@media (max-width: 479px) {
  .staff__cards {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .staff__cards {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .staff__cards {
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 30px;
    margin-right: 15px;
  }
}
.staff__caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}
.staff__sub {
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.staff__text {
  padding: 30px 70px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.staff__text:nth-child(2) {
  padding: 30px 32px 30px 32px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.social__items {
  width: 44px;
  height: 44px;
}

.social__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-additional);
  fill: var(--color-icons);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--color-accent);
  fill: var(--color-additional);
}

.works__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.works__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 94px;
}
.works__position {
  position: relative;
}
.works__cards {
  position: absolute;
  bottom: 0px;
  left: 0;
  min-width: 370px;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
  color: var(--color-additional);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .works {
    display: none;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .container {
    max-width: 786px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 1199px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__flex {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-top: 24px;
  padding-bottom: 25px;
  gap: 93px;
}
@media (min-width: 480px) and (max-width: 768px) {
  .header__flex {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 93px;
  }
}
.header__nav {
  display: none;
}
@media (min-width: 768px) {
  .header__nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
  }
}
.header__burger {
  display: flex;
  margin-left: auto;
  background-color: white;
  border: none;
}
@media (min-width: 768px) {
  .header__burger {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header__list {
    margin-bottom: 10px;
  }
}

.header__link {
  position: relative;
  padding: 28px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--color-primery);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link--current {
  color: var(--color-accent);
  text-decoration: none;
}

.header__link--current::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-accent);
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header__link--current::after {
    bottom: -7px;
  }
}

.header__contact {
  display: flex;
  gap: 40px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
@media (max-width: 478px) {
  .header__contact {
    display: none;
  }
}
@media (max-width: 768px) {
  .header__contact {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header__contact {
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

.header__contact-link {
  color: var(--color-secondary);
  text-decoration: none;
  display: flex;
  align-items: center;
  fill: var(--color-secondary);
  gap: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover,
.header__link:focus,
.header__contact-link:hover,
.header__contact-link:focus {
  color: var(--color-accent);
  fill: var(--color-accent);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* overflow-y: auto; */
  background-color: var(--color-white-bgc);
  max-width: 528px;
  max-height: 581px;
  height: 100%;
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media (max-width: 479px) {
  .modal {
    width: 100%;
    max-height: 609px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .modal {
    width: 100%;
    max-height: 609px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__closed {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
}

.button-close {
  width: 30px;
  height: 30px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button-close:focus,
.button-close:hover {
  fill: var(--color-accent);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--color-primery);
  margin-bottom: 12px;
}

.modal__label {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-secondary);
  margin-bottom: 4px;
}

.modal__input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 0 12px 0 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover,
.modal__input:focus,
.modal__textarea:hover,
.modal__textarea:focus {
  border-color: var(--color-accent);
}

.modal__input:focus + .modal__icon,
.modal__input:hover + .modal__icon {
  fill: var(--color-accent);
}

.modal__field {
  position: relative;
  margin-bottom: 10px;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  margin-bottom: 14px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 16px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
}

.modal__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
}

.modal__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
}

.checkbox {
  margin-bottom: 30px;
  display: flex;
  margin-left: 12px;
}
.checkbox__link {
  color: var(--color-accent);
  text-decoration: underline;
}

.checkbox__title {
  position: relative;
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  padding-left: 24px;
}
@media (max-width: 479px) {
  .checkbox__title {
    font-size: 12px;
    line-height: 1.6;
    padding-left: 18px;
    padding-top: 2px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .checkbox__title {
    font-size: 12px;
    line-height: 1.6;
    padding-left: 18px;
    padding-top: 2px;
  }
}

.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__icon {
  position: absolute;
  margin: 4px 7px 0 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 479px) {
  .checkbox__icon {
    margin: 4px 7px 0 -8px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .checkbox__icon {
    margin: 4px 7px 0 -8px;
  }
}

.icon-check {
  fill: transparent;
  border: 2px solid black;
  border-radius: 2px;
}

.checkbox__input:checked + .checkbox__icon {
  fill: var(--color-additional);
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.submit-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding: 10px 52px;
}

.footer {
  background-color: var(--color-around-black-bgc);
  padding: 60px 0;
}
@media (min-width: 1200px) {
  .footer {
    height: 252px;
  }
}
.footer__flex {
  align-items: baseline;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer__flex {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .footer__flex {
    display: flex;
    align-items: baseline;
    text-align: inherit;
  }
}
.footer__socials {
  margin-bottom: 60px;
}
@media (min-width: 1200px) {
  .footer__socials {
    margin-left: 70px;
  }
}
.footer__p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-additional);
  margin-bottom: 20px;
}

.address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  margin-top: 28px;
}
.address__link {
  margin-bottom: 9px;
}

.address__map {
  color: var(--color-additional);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__contact {
  color: var(--color-additional-second);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__map:hover,
.address__map:focus,
.address__contact:hover,
.address__contact:focus {
  color: var(--color-accent);
}

.social__footer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-bgc-footer-icons);
  fill: var(--color-additional);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__footer:hover, .social__footer:focus {
  background-color: var(--color-accent);
  fill: var(--color-additional);
}

.subscribes {
  margin-left: auto;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .subscribes {
    margin-left: 0;
  }
}
.subscribes__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 0 15px 16px;
}
@media (max-width: 479px) {
  .subscribes__input {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .subscribes__input {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .subscribes__input {
    display: flex;
    margin-bottom: 30px;
    width: 450px;
  }
}

.form-subscribes {
  display: flex;
  justify-content: center;
}

.subscribes__button {
  position: relative;
  color: var(--color-additional);
  background-color: var(--color-accent);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  width: 200px;
  padding: 10px 62px 10px 28px;
  border-radius: 4px;
  border: none;
  margin-left: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribes__button:hover, .subscribes__button:focus {
  background-color: var(--color-button-accent);
}

.icon-send {
  position: absolute;
  fill: var(--color-additional);
  top: 25%;
  right: 22px;
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=main.css.map */