:root {
  --color-primery: #212121;
  --color-secondary: #757575;
  --color-accent: #2196f3;
  --color-white-bgc: #ffffff;
  --color-around-black-bgc: #2f303a;
  --color-around-white-bgc: #f5f5f5;
  --color-gray-bgc: #f5f4fa;
  --color-additional: #ffffff;
  --color-additional-second: rgba(255, 255, 255, 0.6);
  --color-button-accent: #188ce8;
  --color-icons: #afb1b8;
  --color-bgc-footer-icons: rgba(255, 255, 255, 0.1);
}
