.staff {
  background-color: var(--color-gray-bgc);

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    margin-bottom: 50px;

    @media (max-width: 767px) {
      font-size: 28px;
      line-height: 1.18px;
    }
  }

  &__list {
    display: flex;

    flex-wrap: wrap;

    @media (min-width: 1200px) {
      justify-content: space-between;
      align-items: center;
      gap: 30px;
    }
  }

  &__cards {
    flex-basis: calc((100% - 3 * 30px) / 4);

    @media (max-width: 479px) {
      flex-basis: 100%;
      margin-bottom: 30px;
    }

    @media (min-width: 480px) and (max-width: 768px) {
      flex-basis: 100%;
      margin-bottom: 30px;
    }

    @media (min-width: 768px) and (max-width: 1199px) {
      flex-basis: calc((100% - 30px) / 2);
      margin-bottom: 30px;
      margin-right: 15px;
    }
  }

  &__caption {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    margin-bottom: 10px;
  }

  &__sub {
    color: var(--color-secondary);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
  }
}

.staff__text {
  padding: 30px 70px;

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

  &:nth-child(2) {
    padding: 30px 32px 30px 32px;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &__items {
    width: 44px;
    height: 44px;
  }
}

.social__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-additional);
  fill: var(--color-icons);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--color-accent);
    fill: var(--color-additional);
  }
}
