.works {
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    margin-bottom: 94px;
  }

  &__position {
    position: relative;
  }

  &__cards {
    position: absolute;
    bottom: 0px;

    left: 0;
    min-width: 370px;
    background: rgba(47, 48, 58, 0.8);
    padding: 27px 0;
    color: var(--color-additional);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
  }

  // @media (max-width: 479px) {
  //   display: none;
  // }

  // @media (max-width: 768px) {
  //   display: none;
  // }

  @media (max-width: 1200px) {
    display: none;
  }
}
