html {
  box-sizing: border-box;
}

body {
  background-color: var(--color-white-bgc);
  color: var(--color-primery);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.features,
.works,
.staff,
.clients,
.main {
  padding: 94px 0;

  @media (max-width: 1199px) {
    padding: 60px 0;
  }
}

img {
  width: 100%;
  display: block;
}
